# apps/api/requirements.txt
fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-dateutil
email-validator

# Admin Görevleri için ek bağımlılıklar
APScheduler==3.10.4
pytz==2024.1
requests==2.32.3
